# Lists and Tuples

In [7]:
tuple1 = ('char',2,2.3)

In [8]:
tuple1

('char', 2, 2.3)

In [9]:
tuple1[0],tuple1[1]

('char', 2)

In [10]:
List1 = ['char',2,2.3]

In [11]:
List1[3]

IndexError: list index out of range

In [12]:
List1.append('4th element')

In [13]:
List1

['char', 2, 2.3, '4th element']

In [14]:
tuple1.append('4th element')

AttributeError: 'tuple' object has no attribute 'append'

In [15]:
List2 = [0,12,3,4,19]

In [16]:
List2.sort()

In [17]:
List2

[0, 3, 4, 12, 19]

In [18]:
List2.reverse()

In [19]:
List2.extend([44,45])

In [20]:
List2

[19, 12, 4, 3, 0, 44, 45]

In [21]:
List2.insert(4,'Hello')

In [22]:
List2.pop(2)

4

In [23]:
List2

[19, 12, 3, 'Hello', 0, 44, 45]

#### Deep and shallow copy

In [24]:
round1 = ['Arnold', 'Sylvester', 'Jean Claude']
round2 = round1
round2.append('Bill')
round2

['Arnold', 'Sylvester', 'Jean Claude', 'Bill']

In [25]:
round1

['Arnold', 'Sylvester', 'Jean Claude', 'Bill']

In [26]:
import copy
round1 = ['Arnold', 'Sylvester', 'Jean Claude']
round2 = round1.copy()
round2.append('Bill')
round2

['Arnold', 'Sylvester', 'Jean Claude', 'Bill']

In [27]:
round1

['Arnold', 'Sylvester', 'Jean Claude']

In [28]:
#Make a list of vowels from the given list
a = 'Timothy Astor King'
vowellist = []
for i in a:    
    if i in "aieou":
        vowellist.append(i)

In [29]:
vowellist

['i', 'o', 'o', 'i']

In [30]:
#get the first element of each nested list
li = [[1,2,3],[4,5,6],[7,8,9],[10,11,12],[13,14,15]]

In [31]:
[i[0] for i in li]

[1, 4, 7, 10, 13]

#### List Comprehension

In [32]:
squares = []
for i in range(10):
     squares.append(i * i)

In [33]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [34]:
squares = [i * i for i in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

Every list comprehension in Python includes three elements:

Expression -- i * i

Member -- i

Iterable -- range

#### list = [expression for member in iterable]

#### list = [expression (if conditional) for member in iterable]

In [35]:
#extract out only the negative prices
original_prices = [1.25, -9.45, 10.22, 3.78, -5.92, 1.16]
original_prices = [i if i > 0 else 0 for i in original_prices]
original_prices

[1.25, 0, 10.22, 3.78, 0, 1.16]

# Dictionaries

In [36]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [37]:
type(car)

dict

In [38]:
car.keys()

dict_keys(['brand', 'model', 'year'])

In [39]:
car.values()

dict_values(['Ford', 'Mustang', 1964])

In [40]:
car.items()

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [41]:
car['brand']

'Ford'

In [42]:
#adding a new key value pair

car['Mileage'] = '20km/l'
car

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'Mileage': '20km/l'}

In [43]:
#We can even include lists as a value is dictionary

d = {'d1':'Pradeep','d2':['Kunal','Sree','Ankita']}

In [44]:
#Another way of assigning value to Dictionary

Team = {} #empty dict

Team['Batsman'] = 'Virat'

Team['Bowler'] = 'Shami'

Team['Keeper'] ='MS'

In [45]:
#Another way to access value

Team.get('Batsman')

'Virat'

In [46]:
# Python Exercise: Iterate over dictionaries using for loops

d = {'x': 10, 'y': 20, 'z': 30}

In [47]:
#1
for i in d:
    
    #print(d[i])
    print(i + '->', d[i])

x-> 10
y-> 20
z-> 30

In [48]:
for i in d.keys():
    print(i)

x
y
z

In [49]:
for i in d.values():
    print(i)

10
20
30

In [50]:
for i,j in d.items():
    print('Keys : ',i,'\t','Value : ',j)

Keys :  x 	 Value :  10
Keys :  y 	 Value :  20
Keys :  z 	 Value :  30

In [51]:
for key,value in d.items():
    print('Keys : ',i,'\t','Value : ',j)

Keys :  z 	 Value :  30
Keys :  z 	 Value :  30
Keys :  z 	 Value :  30

In [52]:
#Write a Python program to combine two dictionary adding values for common keys

from collections import Counter
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}

{'a': 400, 'b': 400, 'd': 400, 'c': 300}


d = Counter(d1) + Counter(d2)
print(d)

Counter({'a': 400, 'b': 400, 'd': 400, 'c': 300})

In [53]:
#Write a Python program to get the top three items in a shop

#Sample data: {'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}
#Expected Output:item4 55,item1 45.5,item3 41.3

# Functions

In [54]:
def simple():
    print('Simple Function')
    print('First Func')
    
print('Not a part of function')

Not a part of function

In [55]:
simple()

Simple Function
First Func

In [56]:
#Function with a Parameter
def plus_ten(a):
    return a + 10 
#This time we are returning a value unlike the last time

In [57]:
#calling a function by passing an arguement
#make sure you give a good name to your function as because after writing 100 lines of code it can get messy

plus_ten(2)

12

In [58]:
def minus_ten(a):
    result = a - 10

In [59]:
minus_ten(40)
#no value is seen because no return was there

In [60]:
val = minus_ten(40)
print(val)

None

In [61]:
def minus_ten(a):
    result = a - 10
    return result

In [62]:
minus_ten(40)

30

In [63]:
#function within a function
def wage(w_hour):
    print('Entered wage function ')
    return w_hour*25


def with_bonus(w_hour):
    print('Entered with bonus ')
    return wage(w_hour)+50

In [64]:
with_bonus(8)

Entered with bonus
Entered wage function

250

In [65]:
wage(8)

Entered wage function

200