Lamda function

- Simple one line function

- does not use def keyword

- simply and quick to implement

In [1]:
def func(x):
    return x*x

In [78]:
f = lambda x:x*x

In [79]:
func(9)

81

In [80]:
f(9)

81

In [3]:
def add(x,y):
    return x+y

In [4]:
lambda x:x+y

In [28]:
def mx(x,y):
    if x > y:
        return x
    else:
        return y

In [29]:
mx(10,5)

10

In [30]:
lx = lambda x,y:x if x>y else y

In [31]:
lx(10,5)

10

MAP

-- some time we need to apply a function to each element of a sequence
-- retrurns a modified list
--- first parameter is a function, second one is iterable

In [32]:
import numpy as np

In [58]:
# Write a function to find square root of each element in a list
#normal function
def squareroot(l1):
    l2 = []
    for i in l1:
        l2.append(np.sqrt(i))
    return l2

In [59]:
list1 = [64,225,36,100,400]
squareroot(list1)

[8.0, 15.0, 6.0, 10.0, 20.0]

In [75]:
#with lambda
sqrt = lambda x:np.sqrt(x)

list(map(sqrt,list1))
list(map(lambda x:np.sqrt(x),list1))

[8.0, 15.0, 6.0, 10.0, 20.0]

In [76]:
def squareroot(l1):
    return np.sqrt(l1)

In [77]:
list(map(squareroot,list1))

[8.0, 15.0, 6.0, 10.0, 20.0]

## Pandas

In [81]:
import pandas as pd

In [83]:
df = pd.read_csv('C:/Users/ACER/Downloads/earthquake.csv')

In [96]:
type(df)

pandas.core.frame.DataFrame

In [84]:
df.shape

(23412, 21)

In [86]:
df.head()

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
0,01/02/1965,13:44:18,19.246,145.616,Earthquake,131.6,NaN,NaN,6.0,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860706,ISCGEM,ISCGEM,ISCGEM,Automatic
1,01/04/1965,11:29:49,1.863,127.352,Earthquake,80.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860737,ISCGEM,ISCGEM,ISCGEM,Automatic
2,01/05/1965,18:05:58,-20.579,-173.972,Earthquake,20.0,NaN,NaN,6.2,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860762,ISCGEM,ISCGEM,ISCGEM,Automatic
3,01/08/1965,18:49:43,-59.076,-23.557,Earthquake,15.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860856,ISCGEM,ISCGEM,ISCGEM,Automatic
4,01/09/1965,13:32:50,11.938,126.427,Earthquake,15.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860890,ISCGEM,ISCGEM,ISCGEM,Automatic

In [88]:
df.isnull()

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
0,False,False,False,False,False,False,True,True,False,False,...,True,True,True,True,True,False,False,False,False,False
1,False,False,False,False,False,False,True,True,False,False,...,True,True,True,True,True,False,False,False,False,False
2,False,False,False,False,False,False,True,True,False,False,...,True,True,True,True,True,False,False,False,False,False
3,False,False,False,False,False,False,True,True,False,False,...,True,True,True,True,True,False,False,False,False,False
4,False,False,False,False,False,False,True,True,False,False,...,True,True,True,True,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23407,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
23408,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
23409,False,False,False,False,False,False,False,True,False,False,...,True,False,False,False,False,False,False,False,False,False
23410,False,False,False,False,False,False,False,True,False,False,...,True,False,False,False,False,False,False,False,False,False
23411,False,False,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False

In [89]:
df.isnull().sum()

Date                              0
Time                              0
Latitude                          0
Longitude                         0
Type                              0
Depth                             0
Depth Error                   18951
Depth Seismic Stations        16315
Magnitude                         0
Magnitude Type                    3
Magnitude Error               23085
Magnitude Seismic Stations    20848
Azimuthal Gap                 16113
Horizontal Distance           21808
Horizontal Error              22256
Root Mean Square               6060
ID                                0
Source                            0
Location Source                   0
Magnitude Source                  0
Status                            0
dtype: int64

In [90]:
df.columns

Index(['Date', 'Time', 'Latitude', 'Longitude', 'Type', 'Depth', 'Depth Error',
       'Depth Seismic Stations', 'Magnitude', 'Magnitude Type',
       'Magnitude Error', 'Magnitude Seismic Stations', 'Azimuthal Gap',
       'Horizontal Distance', 'Horizontal Error', 'Root Mean Square', 'ID',
       'Source', 'Location Source', 'Magnitude Source', 'Status'],
      dtype='object')

In [92]:
#querying on one column
df.Date

0        01/02/1965
1        01/04/1965
2        01/05/1965
3        01/08/1965
4        01/09/1965
            ...
23407    12/28/2016
23408    12/28/2016
23409    12/28/2016
23410    12/29/2016
23411    12/30/2016
Name: Date, Length: 23412, dtype: object

In [93]:
#alternate
df['Date']

0        01/02/1965
1        01/04/1965
2        01/05/1965
3        01/08/1965
4        01/09/1965
            ...
23407    12/28/2016
23408    12/28/2016
23409    12/28/2016
23410    12/29/2016
23411    12/30/2016
Name: Date, Length: 23412, dtype: object

In [94]:
#multiple columns
df[['Date','Time','Latitude']]

             Date      Time  Latitude
0      01/02/1965  13:44:18   19.2460
1      01/04/1965  11:29:49    1.8630
2      01/05/1965  18:05:58  -20.5790
3      01/08/1965  18:49:43  -59.0760
4      01/09/1965  13:32:50   11.9380
...           ...       ...       ...
23407  12/28/2016  08:22:12   38.3917
23408  12/28/2016  09:13:47   38.3777
23409  12/28/2016  12:38:51   36.9179
23410  12/29/2016  22:30:19   -9.0283
23411  12/30/2016  20:08:28   37.3973

[23412 rows x 3 columns]

In [95]:
type(df.Date)

pandas.core.series.Series

In [97]:
df[['Date', 'Time', 'Latitude']].head()

         Date      Time  Latitude
0  01/02/1965  13:44:18    19.246
1  01/04/1965  11:29:49     1.863
2  01/05/1965  18:05:58   -20.579
3  01/08/1965  18:49:43   -59.076
4  01/09/1965  13:32:50    11.938

In [99]:
#dropping a column
#df['Magnitude Error'].isnull()
df['Magnitude Error'].isnull().sum()

23085

In [101]:
df['Magnitude Error'].min()

0.0

In [102]:
df['Magnitude Error'].max()

0.41

In [103]:
df['Magnitude Error'].std()

0.051465944268496974

In [104]:
df['Magnitude Error'].mean()

0.0718195718654434

In [105]:
#Imputing with nulls
df['Magnitude Error'].fillna(df['Magnitude Error'].mean())
df['Magnitude Error'].fillna(df['Magnitude Error'].mean(),inplace=True)

In [106]:
df.shape

(23412, 21)

In [108]:
del df['Magnitude Error']

In [109]:
df.shape

(23412, 20)

In [110]:
df.drop(columns = 'Horizontal Error')

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
0,01/02/1965,13:44:18,19.2460,145.6160,Earthquake,131.60,NaN,NaN,6.0,MW,NaN,NaN,NaN,NaN,ISCGEM860706,ISCGEM,ISCGEM,ISCGEM,Automatic
1,01/04/1965,11:29:49,1.8630,127.3520,Earthquake,80.00,NaN,NaN,5.8,MW,NaN,NaN,NaN,NaN,ISCGEM860737,ISCGEM,ISCGEM,ISCGEM,Automatic
2,01/05/1965,18:05:58,-20.5790,-173.9720,Earthquake,20.00,NaN,NaN,6.2,MW,NaN,NaN,NaN,NaN,ISCGEM860762,ISCGEM,ISCGEM,ISCGEM,Automatic
3,01/08/1965,18:49:43,-59.0760,-23.5570,Earthquake,15.00,NaN,NaN,5.8,MW,NaN,NaN,NaN,NaN,ISCGEM860856,ISCGEM,ISCGEM,ISCGEM,Automatic
4,01/09/1965,13:32:50,11.9380,126.4270,Earthquake,15.00,NaN,NaN,5.8,MW,NaN,NaN,NaN,NaN,ISCGEM860890,ISCGEM,ISCGEM,ISCGEM,Automatic
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23407,12/28/2016,08:22:12,38.3917,-118.8941,Earthquake,12.30,1.2,40.0,5.6,ML,18.0,42.47,0.120,0.1898,NN00570710,NN,NN,NN,Reviewed
23408,12/28/2016,09:13:47,38.3777,-118.8957,Earthquake,8.80,2.0,33.0,5.5,ML,18.0,48.58,0.129,0.2187,NN00570744,NN,NN,NN,Reviewed
23409,12/28/2016,12:38:51,36.9179,140.4262,Earthquake,10.00,1.8,NaN,5.9,MWW,NaN,91.00,0.992,1.5200,US10007NAF,US,US,US,Reviewed
23410,12/29/2016,22:30:19,-9.0283,118.6639,Earthquake,79.00,1.8,NaN,6.3,MWW,NaN,26.00,3.553,1.4300,US10007NL0,US,US,US,Reviewed
23411,12/30/2016,20:08:28,37.3973,141.4103,Earthquake,11.94,2.2,NaN,5.5,MB,428.0,97.00,0.681,0.9100,US10007NTD,US,US,US,Reviewed

In [111]:
df.shape

(23412, 20)

In [113]:
df.Status

0        Automatic
1        Automatic
2        Automatic
3        Automatic
4        Automatic
           ...
23407     Reviewed
23408     Reviewed
23409     Reviewed
23410     Reviewed
23411     Reviewed
Name: Status, Length: 23412, dtype: object

In [115]:
df.Status.unique()

array(['Automatic', 'Reviewed'], dtype=object)

In [116]:
df['Status'].unique()

array(['Automatic', 'Reviewed'], dtype=object)

In [117]:
df['Status'].nunique()

2

In [119]:
df.Type.unique()

array(['Earthquake', 'Nuclear Explosion', 'Explosion', 'Rock Burst'],
      dtype=object)

In [120]:
#Break

In [121]:
df.describe()

,Latitude,Longitude,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square
count,23412.000000,23412.000000,23412.000000,4461.000000,7097.000000,23412.000000,2564.000000,7299.000000,1604.000000,1156.000000,17352.000000
mean,1.679033,39.639961,70.767911,4.993115,275.364098,5.882531,48.944618,44.163532,3.992660,7.662759,1.022784
std,30.113183,125.511959,122.651898,4.875184,162.141631,0.423066,62.943106,32.141486,5.377262,10.430396,0.188545
min,-77.080000,-179.997000,-1.100000,0.000000,0.000000,5.500000,0.000000,0.000000,0.004505,0.085000,0.000000
25%,-18.653000,-76.349750,14.522500,1.800000,146.000000,5.600000,10.000000,24.100000,0.968750,5.300000,0.900000
50%,-3.568500,103.982000,33.000000,3.500000,255.000000,5.700000,28.000000,36.000000,2.319500,6.700000,1.000000
75%,26.190750,145.026250,54.000000,6.300000,384.000000,6.000000,66.000000,54.000000,4.724500,8.100000,1.130000
max,86.005000,179.998000,700.000000,91.295000,934.000000,9.100000,821.000000,360.000000,37.874000,99.000000,3.440000

In [122]:
df[['Latitude','Longitude']]

       Latitude  Longitude
0       19.2460   145.6160
1        1.8630   127.3520
2      -20.5790  -173.9720
3      -59.0760   -23.5570
4       11.9380   126.4270
...         ...        ...
23407   38.3917  -118.8941
23408   38.3777  -118.8957
23409   36.9179   140.4262
23410   -9.0283   118.6639
23411   37.3973   141.4103

[23412 rows x 2 columns]

In [123]:
df[['Latitude','Longitude']].sort_values(by='Latitude')

       Latitude  Longitude
21304   -77.080   -148.864
11457   -72.448    174.838
18716   -67.034    111.199
4237    -66.448    -82.584
5717    -65.721   -175.714
...         ...        ...
14288    85.686     86.034
14255    85.734     84.439
14294    85.735     84.906
2910     85.992     30.825
15812    86.005     31.595

[23412 rows x 2 columns]

In [125]:
df[['Latitude','Longitude']].sort_values(by='Latitude',ascending = False)

       Latitude  Longitude
15812    86.005     31.595
2910     85.992     30.825
14294    85.735     84.906
14255    85.734     84.439
14288    85.686     86.034
...         ...        ...
5717    -65.721   -175.714
4237    -66.448    -82.584
18716   -67.034    111.199
11457   -72.448    174.838
21304   -77.080   -148.864

[23412 rows x 2 columns]

In [126]:
df.Type.unique()

array(['Earthquake', 'Nuclear Explosion', 'Explosion', 'Rock Burst'],
      dtype=object)

In [127]:
df.Type.value_counts()

Earthquake           23232
Nuclear Explosion      175
Explosion                4
Rock Burst               1
Name: Type, dtype: int64

In [128]:
#Filtering
#df[df.Type == 'Nuclear Explosion']
df[df.Type == 'Nuclear Explosion'].shape

(175, 20)

In [130]:
df[(df.Type == 'Nuclear Explosion') | (df.Type == 'Explosion')].shape

(179, 20)

In [131]:
df[(df.Type == 'Nuclear Explosion') | (df.Type == 'Explosion')].Magnitude

565      5.62
897      5.63
1129     5.52
1380     5.82
1532     5.54
         ...
11963    5.80
12142    6.00
12450    6.10
12613    6.00
13054    5.90
Name: Magnitude, Length: 179, dtype: float64

In [133]:
df[(df.Type == 'Nuclear Explosion') | (df.Type == 'Explosion')][df.Magnitude>6].shape
df[(df.Type == 'Nuclear Explosion') | (df.Type == 'Explosion')][df.Magnitude>6].Magnitude

<ipython-input-133-300f2c7f307f>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[(df.Type == 'Nuclear Explosion') | (df.Type == 'Explosion')][df.Magnitude>6].shape
<ipython-input-133-300f2c7f307f>:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[(df.Type == 'Nuclear Explosion') | (df.Type == 'Explosion')][df.Magnitude>6].Magnitude

2797     6.3
2859     6.8
2897     6.9
3218     6.4
3286     6.7
3593     6.4
3661     6.7
3663     6.5
5198     6.3
5234     6.1
5248     6.1
5388     6.1
5635     6.2
6061     6.2
6177     6.1
6230     6.1
6363     6.1
6613     6.1
6774     6.1
7109     6.2
7244     6.2
7322     6.1
8457     6.2
8531     6.2
8561     6.1
8795     6.1
8808     6.1
8877     6.1
8952     6.1
8989     6.1
9166     6.1
9327     6.1
10126    6.2
10907    6.5
12450    6.1
Name: Magnitude, dtype: float64

In [134]:
BigEarthquakes = df[(df.Type == 'Nuclear Explosion') | (df.Type == 'Explosion')][df.Magnitude>6]

<ipython-input-134-361e0d570704>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  BigEarthquakes = df[(df.Type == 'Nuclear Explosion') | (df.Type == 'Explosion')][df.Magnitude>6]

In [135]:
BigEarthquakes

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
2797,07/23/1973,01:22:58,49.986,78.853,Nuclear Explosion,0.0,NaN,NaN,6.3,MB,NaN,NaN,NaN,NaN,NaN,USP00002TP,US,US,US,Reviewed
2859,09/12/1973,06:59:54,73.302,55.161,Nuclear Explosion,0.0,NaN,NaN,6.8,MB,NaN,NaN,NaN,NaN,NaN,USP00003DP,US,US,US,Reviewed
2897,10/27/1973,06:59:57,70.779,54.177,Nuclear Explosion,0.0,NaN,NaN,6.9,MB,NaN,NaN,NaN,NaN,NaN,USP00003YA,US,US,US,Reviewed
3218,08/29/1974,09:59:55,73.366,55.094,Nuclear Explosion,0.0,NaN,NaN,6.4,MB,NaN,NaN,NaN,NaN,NaN,USP00007UG,US,US,US,Reviewed
3286,11/02/1974,04:59:57,70.817,54.063,Nuclear Explosion,0.0,NaN,NaN,6.7,MB,NaN,NaN,NaN,NaN,NaN,USP00008N6,US,US,US,Reviewed
3593,08/23/1975,08:59:58,73.369,54.641,Explosion,0.0,NaN,NaN,6.4,MB,NaN,NaN,NaN,NaN,NaN,USP0000CJX,US,US,US,Reviewed
3661,10/18/1975,08:59:56,70.843,53.690,Nuclear Explosion,0.0,NaN,NaN,6.7,MB,NaN,NaN,NaN,NaN,NaN,USP0000D69,US,US,US,Reviewed
3663,10/21/1975,11:59:57,73.351,55.078,Nuclear Explosion,0.0,NaN,NaN,6.5,MB,NaN,NaN,NaN,NaN,NaN,USP0000D7G,US,US,US,Reviewed
5198,06/23/1979,02:56:58,49.918,78.915,Nuclear Explosion,0.0,NaN,NaN,6.3,MB,NaN,NaN,NaN,NaN,NaN,USP00011G5,US,US,US,Reviewed
5234,08/04/1979,03:56:57,49.901,78.959,Nuclear Explosion,0.0,NaN,NaN,6.1,MB,NaN,NaN,NaN,NaN,NaN,USP000127H,US,US,US,Reviewed
5248,08/18/1979,02:51:57,49.971,79.010,Nuclear Explosion,0.0,NaN,NaN,6.1,MB,NaN,NaN,NaN,NaN,NaN,USP00012GE,US,US,US,Reviewed
5388,12/23/1979,04:56:58,49.964,78.827,Nuclear Explosion,0.0,NaN,NaN,6.1,MB,NaN,NaN,NaN,NaN,NaN,USP00014NN,US,US,US,Reviewed
5635,09/14/1980,02:42:39,49.976,78.889,Nuclear Explosion,0.0,NaN,NaN,6.2,MB,NaN,NaN,NaN,NaN,NaN,USP00019TD,US,US,US,Reviewed
6061,12/27/1981,03:43:14,49.909,78.873,Nuclear Explosion,0.0,NaN,NaN,6.2,MB,96.0,NaN,NaN,NaN,1.0,USP0001HPJ,US,US,US,Reviewed
6177,04/25/1982,03:23:05,49.889,78.931,Nuclear Explosion,0.0,NaN,NaN,6.1,MB,90.0,NaN,NaN,NaN,0.9,USP0001KX8,US,US,US,Reviewed
6230,07/04/1982,01:17:14,49.995,78.856,Nuclear Explosion,0.0,NaN,NaN,6.1,MB,96.0,NaN,NaN,NaN,0.8,USP0001N8V,US,US,US,Reviewed
6363,12/05/1982,03:37:13,49.928,78.869,Nuclear Explosion,0.0,NaN,NaN,6.1,MB,118.0,NaN,NaN,NaN,0.9,USP0001R99,US,US,US,Reviewed
6613,06/12/1983,02:36:44,49.906,78.981,Nuclear Explosion,0.0,NaN,NaN,6.1,MB,93.0,NaN,NaN,NaN,0.8,USP0001W19,US,US,US,Reviewed
6774,10/26/1983,01:55:05,49.921,78.907,Nuclear Explosion,0.0,NaN,NaN,6.1,MB,121.0,NaN,NaN,NaN,0.9,USP0001Z9K,US,US,US,Reviewed
7109,07/14/1984,01:09:11,49.891,78.963,Nuclear Explosion,0.0,NaN,NaN,6.2,MB,116.0,NaN,NaN,NaN,0.9,USP00025QV,US,US,US,Reviewed
7244,10/27/1984,01:50:11,49.949,78.834,Nuclear Explosion,0.0,NaN,NaN,6.2,MB,136.0,NaN,NaN,NaN,0.9,USP00028J4,US,US,US,Reviewed
7322,12/16/1984,03:55:03,49.957,78.862,Nuclear Explosion,0.0,NaN,NaN,6.1,MB,136.0,NaN,NaN,NaN,0.9,USP0002A3E,US,US,US,Reviewed
8457,04/03/1987,01:17:08,49.928,78.829,Nuclear Explosion,0.0,NaN,NaN,6.2,MB,118.0,NaN,NaN,NaN,0.9,USP00033VD,US,US,US,Reviewed
8531,06/05/1987,04:59:58,41.584,88.737,Nuclear Explosion,0.0,NaN,NaN,6.2,MB,139.0,NaN,NaN,NaN,0.9,USP00035HR,US,US,US,Reviewed
8561,06/20/1987,00:53:05,49.913,78.735,Nuclear Explosion,0.0,NaN,NaN,6.1,MB,127.0,NaN,NaN,NaN,0.9,USP00035XC,US,US,US,Reviewed
8795,12/13/1987,03:21:05,49.989,78.844,Nuclear Explosion,0.0,NaN,NaN,6.1,MB,123.0,NaN,NaN,NaN,0.9,USP0003B88,US,US,US,Reviewed
8808,12/27/1987,03:05:05,49.864,78.758,Nuclear Explosion,0.0,NaN,NaN,6.1,MB,131.0,NaN,NaN,NaN,0.8,USP0003BKH,US,US,US,Reviewed
8877,02/13/1988,03:05:06,49.954,78.910,Nuclear Explosion,0.0,NaN,NaN,6.1,MB,121.0,NaN,NaN,NaN,0.8,USP0003CZN,US,US,US,Reviewed
8952,04/03/1988,01:33:06,49.917,78.945,Nuclear Explosion,0.0,NaN,NaN,6.1,MB,96.0,NaN,NaN,NaN,0.8,USP0003EM3,US,US,US,Reviewed
8989,05/04/1988,00:57:07,49.928,78.769,Nuclear Explosion,0.0,NaN,NaN,6.1,MB,112.0,NaN,NaN,NaN,0.9,USP0003FMX,US,US,US,Reviewed
9166,09/14/1988,03:59:57,49.833,78.808,Nuclear Explosion,0.0,NaN,NaN,6.1,MB,135.0,NaN,NaN,NaN,0.9,USP0003KYJ,US,US,US,Reviewed
9327,01/22/1989,03:57:07,49.924,78.831,Nuclear Explosion,0.0,NaN,NaN,6.1,MB,116.0,NaN,NaN,NaN,0.9,USP0003R3E,US,US,US,Reviewed
10126,08/16/1990,04:59:58,41.564,88.770,Nuclear Explosion,0.0,NaN,NaN,6.2,MB,134.0,NaN,NaN,NaN,0.9,USP0004DFG,US,US,US,Reviewed
10907,05/21/1992,04:59:58,41.604,88.813,Nuclear Explosion,0.0,NaN,NaN,6.5,MB,121.0,NaN,NaN,NaN,0.8,USP00057T0,US,US,US,Reviewed
12450,05/15/1995,04:05:58,41.603,88.820,Nuclear Explosion,0.0,NaN,NaN,6.1,MB,175.0,NaN,NaN,NaN,1.0,USP0006XCY,US,US,US,Reviewed

In [136]:
BigEarthquakes.reset_index(inplace = True)

In [137]:
BigEarthquakes

,index,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,...,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
0,2797,07/23/1973,01:22:58,49.986,78.853,Nuclear Explosion,0.0,NaN,NaN,6.3,...,NaN,NaN,NaN,NaN,NaN,USP00002TP,US,US,US,Reviewed
1,2859,09/12/1973,06:59:54,73.302,55.161,Nuclear Explosion,0.0,NaN,NaN,6.8,...,NaN,NaN,NaN,NaN,NaN,USP00003DP,US,US,US,Reviewed
2,2897,10/27/1973,06:59:57,70.779,54.177,Nuclear Explosion,0.0,NaN,NaN,6.9,...,NaN,NaN,NaN,NaN,NaN,USP00003YA,US,US,US,Reviewed
3,3218,08/29/1974,09:59:55,73.366,55.094,Nuclear Explosion,0.0,NaN,NaN,6.4,...,NaN,NaN,NaN,NaN,NaN,USP00007UG,US,US,US,Reviewed
4,3286,11/02/1974,04:59:57,70.817,54.063,Nuclear Explosion,0.0,NaN,NaN,6.7,...,NaN,NaN,NaN,NaN,NaN,USP00008N6,US,US,US,Reviewed
5,3593,08/23/1975,08:59:58,73.369,54.641,Explosion,0.0,NaN,NaN,6.4,...,NaN,NaN,NaN,NaN,NaN,USP0000CJX,US,US,US,Reviewed
6,3661,10/18/1975,08:59:56,70.843,53.690,Nuclear Explosion,0.0,NaN,NaN,6.7,...,NaN,NaN,NaN,NaN,NaN,USP0000D69,US,US,US,Reviewed
7,3663,10/21/1975,11:59:57,73.351,55.078,Nuclear Explosion,0.0,NaN,NaN,6.5,...,NaN,NaN,NaN,NaN,NaN,USP0000D7G,US,US,US,Reviewed
8,5198,06/23/1979,02:56:58,49.918,78.915,Nuclear Explosion,0.0,NaN,NaN,6.3,...,NaN,NaN,NaN,NaN,NaN,USP00011G5,US,US,US,Reviewed
9,5234,08/04/1979,03:56:57,49.901,78.959,Nuclear Explosion,0.0,NaN,NaN,6.1,...,NaN,NaN,NaN,NaN,NaN,USP000127H,US,US,US,Reviewed
10,5248,08/18/1979,02:51:57,49.971,79.010,Nuclear Explosion,0.0,NaN,NaN,6.1,...,NaN,NaN,NaN,NaN,NaN,USP00012GE,US,US,US,Reviewed
11,5388,12/23/1979,04:56:58,49.964,78.827,Nuclear Explosion,0.0,NaN,NaN,6.1,...,NaN,NaN,NaN,NaN,NaN,USP00014NN,US,US,US,Reviewed
12,5635,09/14/1980,02:42:39,49.976,78.889,Nuclear Explosion,0.0,NaN,NaN,6.2,...,NaN,NaN,NaN,NaN,NaN,USP00019TD,US,US,US,Reviewed
13,6061,12/27/1981,03:43:14,49.909,78.873,Nuclear Explosion,0.0,NaN,NaN,6.2,...,96.0,NaN,NaN,NaN,1.0,USP0001HPJ,US,US,US,Reviewed
14,6177,04/25/1982,03:23:05,49.889,78.931,Nuclear Explosion,0.0,NaN,NaN,6.1,...,90.0,NaN,NaN,NaN,0.9,USP0001KX8,US,US,US,Reviewed
15,6230,07/04/1982,01:17:14,49.995,78.856,Nuclear Explosion,0.0,NaN,NaN,6.1,...,96.0,NaN,NaN,NaN,0.8,USP0001N8V,US,US,US,Reviewed
16,6363,12/05/1982,03:37:13,49.928,78.869,Nuclear Explosion,0.0,NaN,NaN,6.1,...,118.0,NaN,NaN,NaN,0.9,USP0001R99,US,US,US,Reviewed
17,6613,06/12/1983,02:36:44,49.906,78.981,Nuclear Explosion,0.0,NaN,NaN,6.1,...,93.0,NaN,NaN,NaN,0.8,USP0001W19,US,US,US,Reviewed
18,6774,10/26/1983,01:55:05,49.921,78.907,Nuclear Explosion,0.0,NaN,NaN,6.1,...,121.0,NaN,NaN,NaN,0.9,USP0001Z9K,US,US,US,Reviewed
19,7109,07/14/1984,01:09:11,49.891,78.963,Nuclear Explosion,0.0,NaN,NaN,6.2,...,116.0,NaN,NaN,NaN,0.9,USP00025QV,US,US,US,Reviewed
20,7244,10/27/1984,01:50:11,49.949,78.834,Nuclear Explosion,0.0,NaN,NaN,6.2,...,136.0,NaN,NaN,NaN,0.9,USP00028J4,US,US,US,Reviewed
21,7322,12/16/1984,03:55:03,49.957,78.862,Nuclear Explosion,0.0,NaN,NaN,6.1,...,136.0,NaN,NaN,NaN,0.9,USP0002A3E,US,US,US,Reviewed
22,8457,04/03/1987,01:17:08,49.928,78.829,Nuclear Explosion,0.0,NaN,NaN,6.2,...,118.0,NaN,NaN,NaN,0.9,USP00033VD,US,US,US,Reviewed
23,8531,06/05/1987,04:59:58,41.584,88.737,Nuclear Explosion,0.0,NaN,NaN,6.2,...,139.0,NaN,NaN,NaN,0.9,USP00035HR,US,US,US,Reviewed
24,8561,06/20/1987,00:53:05,49.913,78.735,Nuclear Explosion,0.0,NaN,NaN,6.1,...,127.0,NaN,NaN,NaN,0.9,USP00035XC,US,US,US,Reviewed
25,8795,12/13/1987,03:21:05,49.989,78.844,Nuclear Explosion,0.0,NaN,NaN,6.1,...,123.0,NaN,NaN,NaN,0.9,USP0003B88,US,US,US,Reviewed
26,8808,12/27/1987,03:05:05,49.864,78.758,Nuclear Explosion,0.0,NaN,NaN,6.1,...,131.0,NaN,NaN,NaN,0.8,USP0003BKH,US,US,US,Reviewed
27,8877,02/13/1988,03:05:06,49.954,78.910,Nuclear Explosion,0.0,NaN,NaN,6.1,...,121.0,NaN,NaN,NaN,0.8,USP0003CZN,US,US,US,Reviewed
28,8952,04/03/1988,01:33:06,49.917,78.945,Nuclear Explosion,0.0,NaN,NaN,6.1,...,96.0,NaN,NaN,NaN,0.8,USP0003EM3,US,US,US,Reviewed
29,8989,05/04/1988,00:57:07,49.928,78.769,Nuclear Explosion,0.0,NaN,NaN,6.1,...,112.0,NaN,NaN,NaN,0.9,USP0003FMX,US,US,US,Reviewed
30,9166,09/14/1988,03:59:57,49.833,78.808,Nuclear Explosion,0.0,NaN,NaN,6.1,...,135.0,NaN,NaN,NaN,0.9,USP0003KYJ,US,US,US,Reviewed
31,9327,01/22/1989,03:57:07,49.924,78.831,Nuclear Explosion,0.0,NaN,NaN,6.1,...,116.0,NaN,NaN,NaN,0.9,USP0003R3E,US,US,US,Reviewed
32,10126,08/16/1990,04:59:58,41.564,88.770,Nuclear Explosion,0.0,NaN,NaN,6.2,...,134.0,NaN,NaN,NaN,0.9,USP0004DFG,US,US,US,Reviewed
33,10907,05/21/1992,04:59:58,41.604,88.813,Nuclear Explosion,0.0,NaN,NaN,6.5,...,121.0,NaN,NaN,NaN,0.8,USP00057T0,US,US,US,Reviewed
34,12450,05/15/1995,04:05:58,41.603,88.820,Nuclear Explosion,0.0,NaN,NaN,6.1,...,175.0,NaN,NaN,NaN,1.0,USP0006XCY,US,US,US,Reviewed

In [138]:
#Slicing a dataframe
BigEarthquakes.iloc[:5,:]

,index,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,...,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
0,2797,07/23/1973,01:22:58,49.986,78.853,Nuclear Explosion,0.0,NaN,NaN,6.3,...,NaN,NaN,NaN,NaN,NaN,USP00002TP,US,US,US,Reviewed
1,2859,09/12/1973,06:59:54,73.302,55.161,Nuclear Explosion,0.0,NaN,NaN,6.8,...,NaN,NaN,NaN,NaN,NaN,USP00003DP,US,US,US,Reviewed
2,2897,10/27/1973,06:59:57,70.779,54.177,Nuclear Explosion,0.0,NaN,NaN,6.9,...,NaN,NaN,NaN,NaN,NaN,USP00003YA,US,US,US,Reviewed
3,3218,08/29/1974,09:59:55,73.366,55.094,Nuclear Explosion,0.0,NaN,NaN,6.4,...,NaN,NaN,NaN,NaN,NaN,USP00007UG,US,US,US,Reviewed
4,3286,11/02/1974,04:59:57,70.817,54.063,Nuclear Explosion,0.0,NaN,NaN,6.7,...,NaN,NaN,NaN,NaN,NaN,USP00008N6,US,US,US,Reviewed

In [139]:
BigEarthquakes.iloc[:5,1:5]

         Date      Time  Latitude  Longitude
0  07/23/1973  01:22:58    49.986     78.853
1  09/12/1973  06:59:54    73.302     55.161
2  10/27/1973  06:59:57    70.779     54.177
3  08/29/1974  09:59:55    73.366     55.094
4  11/02/1974  04:59:57    70.817     54.063

In [141]:
#BigEarthquakes.loc[13]
BigEarthquakes.loc[[13]]

,index,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,...,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
13,6061,12/27/1981,03:43:14,49.909,78.873,Nuclear Explosion,0.0,NaN,NaN,6.2,...,96.0,NaN,NaN,NaN,1.0,USP0001HPJ,US,US,US,Reviewed

In [142]:
BigEarthquakes.loc[13,'Type']

'Nuclear Explosion'

In [143]:
BigEarthquakes.loc[13,'Type'] = 'Explosion'

In [144]:
BigEarthquakes

,index,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,...,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
0,2797,07/23/1973,01:22:58,49.986,78.853,Nuclear Explosion,0.0,NaN,NaN,6.3,...,NaN,NaN,NaN,NaN,NaN,USP00002TP,US,US,US,Reviewed
1,2859,09/12/1973,06:59:54,73.302,55.161,Nuclear Explosion,0.0,NaN,NaN,6.8,...,NaN,NaN,NaN,NaN,NaN,USP00003DP,US,US,US,Reviewed
2,2897,10/27/1973,06:59:57,70.779,54.177,Nuclear Explosion,0.0,NaN,NaN,6.9,...,NaN,NaN,NaN,NaN,NaN,USP00003YA,US,US,US,Reviewed
3,3218,08/29/1974,09:59:55,73.366,55.094,Nuclear Explosion,0.0,NaN,NaN,6.4,...,NaN,NaN,NaN,NaN,NaN,USP00007UG,US,US,US,Reviewed
4,3286,11/02/1974,04:59:57,70.817,54.063,Nuclear Explosion,0.0,NaN,NaN,6.7,...,NaN,NaN,NaN,NaN,NaN,USP00008N6,US,US,US,Reviewed
5,3593,08/23/1975,08:59:58,73.369,54.641,Explosion,0.0,NaN,NaN,6.4,...,NaN,NaN,NaN,NaN,NaN,USP0000CJX,US,US,US,Reviewed
6,3661,10/18/1975,08:59:56,70.843,53.690,Nuclear Explosion,0.0,NaN,NaN,6.7,...,NaN,NaN,NaN,NaN,NaN,USP0000D69,US,US,US,Reviewed
7,3663,10/21/1975,11:59:57,73.351,55.078,Nuclear Explosion,0.0,NaN,NaN,6.5,...,NaN,NaN,NaN,NaN,NaN,USP0000D7G,US,US,US,Reviewed
8,5198,06/23/1979,02:56:58,49.918,78.915,Nuclear Explosion,0.0,NaN,NaN,6.3,...,NaN,NaN,NaN,NaN,NaN,USP00011G5,US,US,US,Reviewed
9,5234,08/04/1979,03:56:57,49.901,78.959,Nuclear Explosion,0.0,NaN,NaN,6.1,...,NaN,NaN,NaN,NaN,NaN,USP000127H,US,US,US,Reviewed
10,5248,08/18/1979,02:51:57,49.971,79.010,Nuclear Explosion,0.0,NaN,NaN,6.1,...,NaN,NaN,NaN,NaN,NaN,USP00012GE,US,US,US,Reviewed
11,5388,12/23/1979,04:56:58,49.964,78.827,Nuclear Explosion,0.0,NaN,NaN,6.1,...,NaN,NaN,NaN,NaN,NaN,USP00014NN,US,US,US,Reviewed
12,5635,09/14/1980,02:42:39,49.976,78.889,Nuclear Explosion,0.0,NaN,NaN,6.2,...,NaN,NaN,NaN,NaN,NaN,USP00019TD,US,US,US,Reviewed
13,6061,12/27/1981,03:43:14,49.909,78.873,Explosion,0.0,NaN,NaN,6.2,...,96.0,NaN,NaN,NaN,1.0,USP0001HPJ,US,US,US,Reviewed
14,6177,04/25/1982,03:23:05,49.889,78.931,Nuclear Explosion,0.0,NaN,NaN,6.1,...,90.0,NaN,NaN,NaN,0.9,USP0001KX8,US,US,US,Reviewed
15,6230,07/04/1982,01:17:14,49.995,78.856,Nuclear Explosion,0.0,NaN,NaN,6.1,...,96.0,NaN,NaN,NaN,0.8,USP0001N8V,US,US,US,Reviewed
16,6363,12/05/1982,03:37:13,49.928,78.869,Nuclear Explosion,0.0,NaN,NaN,6.1,...,118.0,NaN,NaN,NaN,0.9,USP0001R99,US,US,US,Reviewed
17,6613,06/12/1983,02:36:44,49.906,78.981,Nuclear Explosion,0.0,NaN,NaN,6.1,...,93.0,NaN,NaN,NaN,0.8,USP0001W19,US,US,US,Reviewed
18,6774,10/26/1983,01:55:05,49.921,78.907,Nuclear Explosion,0.0,NaN,NaN,6.1,...,121.0,NaN,NaN,NaN,0.9,USP0001Z9K,US,US,US,Reviewed
19,7109,07/14/1984,01:09:11,49.891,78.963,Nuclear Explosion,0.0,NaN,NaN,6.2,...,116.0,NaN,NaN,NaN,0.9,USP00025QV,US,US,US,Reviewed
20,7244,10/27/1984,01:50:11,49.949,78.834,Nuclear Explosion,0.0,NaN,NaN,6.2,...,136.0,NaN,NaN,NaN,0.9,USP00028J4,US,US,US,Reviewed
21,7322,12/16/1984,03:55:03,49.957,78.862,Nuclear Explosion,0.0,NaN,NaN,6.1,...,136.0,NaN,NaN,NaN,0.9,USP0002A3E,US,US,US,Reviewed
22,8457,04/03/1987,01:17:08,49.928,78.829,Nuclear Explosion,0.0,NaN,NaN,6.2,...,118.0,NaN,NaN,NaN,0.9,USP00033VD,US,US,US,Reviewed
23,8531,06/05/1987,04:59:58,41.584,88.737,Nuclear Explosion,0.0,NaN,NaN,6.2,...,139.0,NaN,NaN,NaN,0.9,USP00035HR,US,US,US,Reviewed
24,8561,06/20/1987,00:53:05,49.913,78.735,Nuclear Explosion,0.0,NaN,NaN,6.1,...,127.0,NaN,NaN,NaN,0.9,USP00035XC,US,US,US,Reviewed
25,8795,12/13/1987,03:21:05,49.989,78.844,Nuclear Explosion,0.0,NaN,NaN,6.1,...,123.0,NaN,NaN,NaN,0.9,USP0003B88,US,US,US,Reviewed
26,8808,12/27/1987,03:05:05,49.864,78.758,Nuclear Explosion,0.0,NaN,NaN,6.1,...,131.0,NaN,NaN,NaN,0.8,USP0003BKH,US,US,US,Reviewed
27,8877,02/13/1988,03:05:06,49.954,78.910,Nuclear Explosion,0.0,NaN,NaN,6.1,...,121.0,NaN,NaN,NaN,0.8,USP0003CZN,US,US,US,Reviewed
28,8952,04/03/1988,01:33:06,49.917,78.945,Nuclear Explosion,0.0,NaN,NaN,6.1,...,96.0,NaN,NaN,NaN,0.8,USP0003EM3,US,US,US,Reviewed
29,8989,05/04/1988,00:57:07,49.928,78.769,Nuclear Explosion,0.0,NaN,NaN,6.1,...,112.0,NaN,NaN,NaN,0.9,USP0003FMX,US,US,US,Reviewed
30,9166,09/14/1988,03:59:57,49.833,78.808,Nuclear Explosion,0.0,NaN,NaN,6.1,...,135.0,NaN,NaN,NaN,0.9,USP0003KYJ,US,US,US,Reviewed
31,9327,01/22/1989,03:57:07,49.924,78.831,Nuclear Explosion,0.0,NaN,NaN,6.1,...,116.0,NaN,NaN,NaN,0.9,USP0003R3E,US,US,US,Reviewed
32,10126,08/16/1990,04:59:58,41.564,88.770,Nuclear Explosion,0.0,NaN,NaN,6.2,...,134.0,NaN,NaN,NaN,0.9,USP0004DFG,US,US,US,Reviewed
33,10907,05/21/1992,04:59:58,41.604,88.813,Nuclear Explosion,0.0,NaN,NaN,6.5,...,121.0,NaN,NaN,NaN,0.8,USP00057T0,US,US,US,Reviewed
34,12450,05/15/1995,04:05:58,41.603,88.820,Nuclear Explosion,0.0,NaN,NaN,6.1,...,175.0,NaN,NaN,NaN,1.0,USP0006XCY,US,US,US,Reviewed

In [145]:
#Creating new columns
BigEarthquakes['New Column 1'] = BigEarthquakes.Latitude + 100
BigEarthquakes['New Column 2'] = 'Scaler'