In [1]:
import numpy as np 
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn. ensemble import RandomForestClassifier, BaggingClassifier, AdaBoostClassifier, VotingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC

In [2]:
data = pd.read_csv('C:/Users/skesh/Documents/mnist_train.csv')
data.shape

(60000, 785)

In [3]:
df_x = data.iloc[:,1:]
df_y = data.iloc[:,0]

In [4]:
x_train, x_test, y_train, y_test = train_test_split(df_x, df_y, test_size = 0.2, random_state = 4)

In [5]:
dt = DecisionTreeClassifier()
dt.fit(x_train,y_train)
dt.score(x_train,y_train)

1.0

In [6]:
bg = BaggingClassifier(dt, n_estimators = 5)
bg.fit(x_train,y_train)
bg.score(x_test,y_test)

0.91875

In [7]:
rf = RandomForestClassifier(n_estimators = 5)
rf.fit(x_train,y_train)
rf.score(x_test,y_test)

0.9136666666666666

In [8]:
lr = LogisticRegression()
svm = SVC(kernel = 'poly', degree = 2)
evc = VotingClassifier(estimators = [('lr',lr),('dt',dt),('svm',svm)],voting = 'hard')
evc.fit(x_train.iloc[1:400],y_train.iloc[1:400])
evc.score(x_test,y_test)

C:\Users\skesh\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:939: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html.
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

0.8020833333333334

In [9]:
import pandas as pd
import numpy as np

In [10]:
df = pd.read_csv('https://raw.githubusercontent.com/Aditya-Mankar/Census-Income-Prediction/master/adult.csv')

In [11]:
#df.to_csv('Income.csv',index=False)

In [12]:
df = pd.read_csv('Income.csv')
df.head(5)

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

In [13]:
df['native.country'].value_counts()

United-States                 29170
Mexico                          643
?                               583
Philippines                     198
Germany                         137
Canada                          121
Puerto-Rico                     114
El-Salvador                     106
India                           100
Cuba                             95
England                          90
Jamaica                          81
South                            80
China                            75
Italy                            73
Dominican-Republic               70
Vietnam                          67
Guatemala                        64
Japan                            62
Poland                           60
Columbia                         59
Taiwan                           51
Haiti                            44
Iran                             43
Portugal                         37
Nicaragua                        34
Peru                             31
Greece                           29
France                           29
Ecuador                          28
Ireland                          24
Hong                             20
Trinadad&Tobago                  19
Cambodia                         19
Thailand                         18
Laos                             18
Yugoslavia                       16
Outlying-US(Guam-USVI-etc)       14
Honduras                         13
Hungary                          13
Scotland                         12
Holand-Netherlands                1
Name: native.country, dtype: int64

#### Preprocessing

In [14]:
df = df.replace('?',np.nan)
df

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,NaN,77053,HS-grad,9,Widowed,NaN,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,NaN,186061,Some-college,10,Widowed,NaN,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32557,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32558,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32559,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32560,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K

In [15]:
#checking the null values
df.isnull().sum()

age                  0
workclass         1836
fnlwgt               0
education            0
education.num        0
marital.status       0
occupation        1843
relationship         0
race                 0
sex                  0
capital.gain         0
capital.loss         0
hours.per.week       0
native.country     583
income               0
dtype: int64

In [16]:
columns_with_nan = ['workclass','occupation','native.country']

In [17]:
df['workclass'].mode()[0]

'Private'

In [18]:
#imputing the null values with mode
for column in columns_with_nan:
    df[column].fillna(df[column].mode()[0],inplace=True)

In [19]:
#checking the null post imputation
df.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education.num     0
marital.status    0
occupation        0
relationship      0
race              0
sex               0
capital.gain      0
capital.loss      0
hours.per.week    0
native.country    0
income            0
dtype: int64

#### Label Encoding

In [21]:
United States - 1 
Mexico - 2
German - 3

SyntaxError: invalid syntax (<ipython-input-21-e0b5c5edef7a>, line 1)

In [24]:
from sklearn.preprocessing import LabelEncoder

In [25]:
df.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education.num      int64
marital.status    object
occupation        object
relationship      object
race              object
sex               object
capital.gain       int64
capital.loss       int64
hours.per.week     int64
native.country    object
income            object
dtype: object

In [26]:
#encoder = LabelEncoder()
#df['workclass'].unique()
#encoder.fit_transform(df['workclass'])

In [27]:
encoder = LabelEncoder()
for col in df.columns:
    if df[col].dtypes == 'object':
        df[col] = encoder.fit_transform(df[col])

In [28]:
df

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,3,77053,11,9,6,9,1,4,0,0,4356,40,38,0
1,82,3,132870,11,9,6,3,1,4,0,0,4356,18,38,0
2,66,3,186061,15,10,6,9,4,2,0,0,4356,40,38,0
3,54,3,140359,5,4,0,6,4,4,0,0,3900,40,38,0
4,41,3,264663,15,10,5,9,3,4,0,0,3900,40,38,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,22,3,310152,15,10,4,10,1,4,1,0,0,40,38,0
32557,27,3,257302,7,12,2,12,5,4,0,0,0,38,38,0
32558,40,3,154374,11,9,2,6,0,4,1,0,0,40,38,1
32559,58,3,151910,11,9,6,0,4,4,0,0,0,40,38,0
32560,22,3,201490,11,9,4,0,3,4,1,0,0,20,38,0

In [29]:
X = df.drop(columns = 'income')
Y = df['income']
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.2, random_state=42)

#### Decision Tree

In [30]:
from sklearn.tree import DecisionTreeClassifier
dec_tree = DecisionTreeClassifier()
dec_tree.fit(X_train,Y_train)
Y_pred_dec_tree = dec_tree.predict(X_test)

#### Random Forest

In [31]:
from sklearn.ensemble import RandomForestClassifier
ran_for = RandomForestClassifier(n_estimators=10)
ran_for.fit(X_train,Y_train)
Y_pred_ran_for = ran_for.predict(X_test)

#### Adaboost

In [32]:
from sklearn.ensemble import AdaBoostClassifier
ada = AdaBoostClassifier(n_estimators=10)
ada.fit(X_train,Y_train)
Y_pred_ada = ada.predict(X_test)

#### Model Evaluation

In [33]:
from sklearn.metrics import accuracy_score,f1_score

In [34]:
# a = 0.4435834953
# round(a,2)

In [35]:
print('Decision Tree')
print('Accuracy Score : ',round(accuracy_score(Y_test,Y_pred_dec_tree)*100,2))
print('F1- Score : ',round(f1_score(Y_test,Y_pred_dec_tree)*100,2))

print('Random Forest')
print('Accuracy Score : ',round(accuracy_score(Y_test,Y_pred_ran_for)*100,2))
print('F1 Score : ',round(f1_score(Y_test,Y_pred_ran_for)*100,2))

print('Adaboost')
print('Accuracy Score : ',round(accuracy_score(Y_test,Y_pred_dec_tree)*100,2))
print('F1- Score : ',round(f1_score(Y_test,Y_pred_ada)*100,2))

Decision Tree
Accuracy Score :  80.88
F1- Score :  60.16
Random Forest
Accuracy Score :  84.66
F1 Score :  63.66
Adaboost
Accuracy Score :  80.88
F1- Score :  61.83

#### Hyperparameter Tuning

In [36]:
from sklearn.model_selection import GridSearchCV

In [37]:
n_estimators = [15,20,30,40,50,60]
max_depth = [3,4,5]

param_grid = {'n_estimators':n_estimators,'max_depth':max_depth}
param_grid

{'n_estimators': [15, 20, 30, 40, 50, 60], 'max_depth': [3, 4, 5]}

In [38]:
rf_tuned = RandomForestClassifier()
grid = GridSearchCV(rf_tuned, param_grid, cv=10, scoring = 'f1')
grid.fit(X,Y)
#grid.fit(X,Y)

GridSearchCV(cv=10, error_score=nan,
             estimator=RandomForestClassifier(bootstrap=True, ccp_alpha=0.0,
                                              class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features='auto',
                                              max_leaf_nodes=None,
                                              max_samples=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              n_estimators=100, n_jobs=None,
                                              oob_score=False,
                                              random_state=None, verbose=0,
                                              warm_start=False),
             iid='deprecated', n_jobs=None,
             param_grid={'max_depth': [3, 4, 5],
                         'n_estimators': [15, 20, 30, 40, 50, 60]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='f1', verbose=0)

In [39]:
pd.DataFrame(grid.cv_results_)[['mean_test_score','params']]

    mean_test_score                                params
0          0.229591  {'max_depth': 3, 'n_estimators': 15}
1          0.282354  {'max_depth': 3, 'n_estimators': 20}
2          0.232859  {'max_depth': 3, 'n_estimators': 30}
3          0.292015  {'max_depth': 3, 'n_estimators': 40}
4          0.271275  {'max_depth': 3, 'n_estimators': 50}
5          0.310970  {'max_depth': 3, 'n_estimators': 60}
6          0.461003  {'max_depth': 4, 'n_estimators': 15}
7          0.454292  {'max_depth': 4, 'n_estimators': 20}
8          0.437905  {'max_depth': 4, 'n_estimators': 30}
9          0.451485  {'max_depth': 4, 'n_estimators': 40}
10         0.414739  {'max_depth': 4, 'n_estimators': 50}
11         0.443802  {'max_depth': 4, 'n_estimators': 60}
12         0.473598  {'max_depth': 5, 'n_estimators': 15}
13         0.477329  {'max_depth': 5, 'n_estimators': 20}
14         0.465661  {'max_depth': 5, 'n_estimators': 30}
15         0.492209  {'max_depth': 5, 'n_estimators': 40}
16         0.484415  {'max_depth': 5, 'n_estimators': 50}
17         0.492626  {'max_depth': 5, 'n_estimators': 60}

In [40]:
rf_tuned_pred = grid.predict(X_test)

In [41]:
print('Tune Hyperparameter')
print('Accuracy Score : ',round(accuracy_score(Y_test,rf_tuned_pred)*100,2))
print('F1- Score : ',round(f1_score(Y_test,rf_tuned_pred)*100,2))

Tune Hyperparameter
Accuracy Score :  84.86
F1- Score :  60.31

In [42]:
from sklearn.metrics import classification_report
print(classification_report(Y_test,rf_tuned_pred))

              precision    recall  f1-score   support

           0       0.86      0.96      0.91      4976
           1       0.79      0.49      0.60      1537

    accuracy                           0.85      6513
   macro avg       0.82      0.72      0.75      6513
weighted avg       0.84      0.85      0.83      6513